Cython
email-validator
pydantic --no-binary pydantic
python-multipart
SQLAlchemy
databases[sqlite]
bcrypt
ujson
orjson
fastapi
uvicorn
aiofiles
jinja2
python-dotenv
pytest
requests
devtools[pygments]
